<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fireflies</title>
    <link rel="stylesheet" href="{{thisURL}}/css/style.css">
</head>
<body>
    <!-- <input type="checkbox" id="AllSync" name="AllSync">
    <label for="AllSync">Sync All Fireflies</label>
    <input type="checkbox" id="NeighborSync" name="NeighborSync">
    <label for="NeighborSync">Sync Neighboring Fireflies</label> -->
    <canvas id="canvas2"></canvas>
    <script src="{{thisURL}}/script/fireflies.js"></script>
</body>
</html>