<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Tree</title>
    <link rel="stylesheet" href="{{thisURL}}/css/style.css">
</head>
<body>
    <input type="text" id="addValue" name="addValue">
    <button id="addButton" type="button">Add</button>
    <button id="clearButton" type="button">Clear</button>
    <button id="balanceButton" type="button">Balance</button>
    <canvas id="canvasID"></canvas>
    <script src="{{thisURL}}/script/searchTree.js"></script>
</body>
</html>